{% extends 'base.html'%}
{% block body %}
<!--<div class="mx-auto" style="width: 200px;">-->
<!--<div class="card" style="width: 18rem;">-->
<!--  <div class="card-body" >-->
<!--    <h5 class="card-title">DELETE </h5>-->
<!--&lt;!&ndash;    <h6 class="card-subtitle mb-2 text-muted"></h6>&ndash;&gt;-->
<!--    <p class="card-text">Are you sure want to delete</p>-->
<!--    <button type="submit">confirm</button>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<form method="POST">
  {% csrf_token %}
  <p> are you sure want to delete </p>
  <button type="submit">confirm</button>
</form>
{% endblock %}